<!DOCTYPE html>

<head>
  <title>FASER Run Control</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- the links to the bootstrap CDN -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/faserRC.css', version='109')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/createHome.js', version='102')}}"></script>
  <script src="{{ url_for('static', filename='js/updateHome.js', version='106')}}"></script>
</head>

<body>
  <div class = "container-fluid" style= " padding-bottom: 65px; padding-top:25px">
    {% include 'connectionLost.html' %}
    {% include 'startRun.html' %}
    {% include 'mainHeader.html' %}
    <div class = "row">
      {% include 'configSelector.html' %}
      {% include 'controls.html' %}
    </div>

    <div class="row">
      {% include 'runInformation.html' %}
      {% include 'statusAndSettings.html' %}
    </div>
  </div>
  
  <script>
    var CHILD_WINDOW;

    updateConfigFileChoices();
    var radioID = "radio-" + '{{selectedFile}}';
    document.getElementById(radioID).click();

    updateCommandsAndStatus();
  </script>

</body>
</html>

