<div class="col">
  <div class= "container"  id="status&settings-box">				
    <div class = "jumbotron" style= "padding-right:5px ; padding-left:5px ; padding-bottom: 80px; padding-top:25px;">
      <center><h3>STATUS AND SETTINGS</h3></center>
      
      <table class= table-borderless id="boards">	
	<tbody>	
	</tbody>
      </table>
      
<!--      <div class="container" style= "padding-top: 40px; ">	
	<button type="button" class="btn btn-primary btn-lg" style="float: right;" onclick="addBoard()">ADD</button>
      </div> --->
      <div class="dropdown">
	<button type="button" class="btn btn-primary btn-lg dropdown-toggle" style="float: right;" data-toggle="dropdown">
	  ADD
	</button>
	<div class="dropdown-menu">
	  {% for schema in schemaChoices %}
	  <a class="dropdown-item" onclick="addBoard('{{ schema }}');">{{ schema }}</a>
	  {% endfor %}
	</div>
      </div> 
    </div>
  </div>
</div>
